# Data Types:
    - fundamental data types
    - Classes : custoem type
    - Specialised Dat atypes: these are not inbuilt int python and can be installed in terms of modules
    - None

## Fundamental Data types:
    - int
    - float
    - bool
    - str
    - list
    - tuple
    - set
    - dict
    - complex & bin ()

### complex & bin ()
 - bin returns the binary repesentation of any object
 - any integer and float get stored in memory as binary

In [26]:
print(bin(5))

0b101

In [31]:
print(bin(3+7))

0b1010

# int & float

In [21]:
# Int & float
# int is number
# float is decimal point
# you can use type to get the data type details
print (type(2))
print(type(5*1.5))

<class 'int'>
<class 'float'>

In [2]:
#Addition of number
print(2+4)

6

In [3]:
#substarction 
print(2-4)

-2

In [4]:
#multiplictaion
print(2*4)

8

In [11]:
#Divide
print(4/2)
print(2/4)

2.0
0.5

In [10]:
#double devide : result gets rounded down to integer
print(4//2)
print(2//4)

2
0

In [12]:
#power of
print(2**2)
print(2**3)

4
8

In [13]:
#modulo : modulo is the remainder of teh devision
print(4%2)
print(2%4)
print(5%2)

0
2
1

### Math function

In [15]:
#rounding number
print(round(3.1))

3

In [16]:
#abs: returns the actual value of an argument
print(abs(-20))

20

### Operator Precedence

In [22]:
print(20+3*2)

26

In [23]:
print(20-5*2)

10

In [24]:
print(10*2-2)

18

#### Python follow below orders
    ()
    **
    * / 
    + -

# Variables
    - assignig avlaue is called biniding
    - once we bind any value to any variable, we can use that variable anywhere in the programme 
    
##### How we should define varibale
    - start with lowercase or underscore (hello_world   or _world)
    - a varibal is case sensitive
    - There are keywords in python, we will not be able to define variable with same name as keyword
    - python Key word refernces:  https://www.w3schools.com/python/python_ref_keywords.asp

In [34]:
a=10
iq=105
print (a)
print (iq)

10
105

In [35]:
_iq=90
print(_iq)

90

In [45]:
a,b,c=10,2,30
print(a)
print(b,c)

10
2 30

##  Constant
    - contast value will never change
    - in variable we can change the value of the variable by re assigning.
    - you can write a constant by capital letters. Any varibale named in capital letters shows that it is a constant and you sould not change it.

In [44]:
NAME='Nihar'
NAME="SWAIN"  # you can reassign the value, but as a best practice, you should not do it as its in capital letters and shows as constant.
PI=3.14
print (NAME)
print(PI)

print (NAME)

SWAIN
3.14
SWAIN

### Expression vs Statements 
    - whole line is called statement
    - expression is used in statement
    
    user_age = iq/5   : this whole line is called statement & i1/5 is called expression
    iq=20  : this is statemnet

### Augmented assignment operator

    +=
    -=
    *=
    /=

In [56]:
some_value=5
some_value=5+2
print(some_value)
# or you can do it as 

some_value=5
some_value=some_value+2
print(some_value)

#instead of doing it you can use augmented assignment operator
some_value=5
some_value+=2
print(some_value)

some_value-=2
print(some_value)

7
7
7
5

In [52]:
some_value=10
some_value *=2
print(some_value)

20

In [58]:
another_value+=2
print(another_value)  # it shows error as we have defined the varibale another_value

NameError: name 'another_value' is not defined

# Strings

In [60]:
print (type("hello, how are you"))

<class 'str'>

In [64]:
# We can write string in below ways
username='Nihar'
password="123secret"

# long string can be written as below , it starts and end with '''   
long_string='''
wow
o o
---
'''

print (username)
print(password)
print(long_string)

Nihar
123secret

wow
o o
---

##### string operations

    - string concatenation
    - it means adding string together
    - string concatenation works only with string to string , not with string to integer

In [69]:
# string concatenation
# it means adding string together
# string concatenation works only with string to string , not with string to integer 

firstname='NIHAR'
lastname='SWAIN'
fullname= firstname + lastname

print (fullname)

print(firstname + ' ' +lastname)

NIHARSWAIN
NIHAR SWAIN

###### Type conversion

    - it would onvert one type of variable to another
    - we know 100 is an integer, but if we use str(100) , thats converts to str

In [70]:
print(type(str(100)))

<class 'str'>

In [71]:
print(type(int(50.5)))

<class 'int'>

In [72]:
a=str(100)
b=int(a)
c=type(b)
print(c)

<class 'int'>

##### Escape sequence 
    - we can use \ for escape sequence
    - python treats everything after \ as string
    - \t means tab
    - \n new line

In [75]:
weather = "it's a "kind" of sunny"   # we have used ""  inside ""
print (weather)

SyntaxError: invalid syntax (1815571602.py, line 1)

In [79]:
# \
weather="it's a \"kind\" of sunny"
print (weather)

it's a "kind" of sunny

In [83]:
# \t space
weather="it's a \"kind\" of \t sunny"
print (weather)

it's a "kind" of 	 sunny

In [84]:
# \n new line
weather="it's a \"kind\" of \n sunny"
print (weather)

it's a "kind" of
 sunny

##### formatted strings

In [88]:
name='john'
age = 55
print('hi' + name + '. You are ' + str(age) + 'years old')

hijohn. You are 55years old

##### in staed of doing above you can do formatted string 
    - when you mention f in the begining, python treats as formatted string

In [90]:
name='John'
age=55
print(f'hi {name}. you are {age} years old')

hi John. you are 55 years old

##### Instead of writting f in the begining, there is another way to write formatted string (not recomended)
    - print('statement'.format())

In [92]:
name='john'
age=55
print('hi {}. You are {} years old'.format('John', '55'))

hi John. You are 55 years old

In [93]:
name='john'
age=55
print('hi {}. You are {} years old'.format(name, age))

hi john. You are 55 years old

In [94]:
name='john'
age=55
print('hi {1}. You are {0} years old'.format('John', '55')) # it would take variable in position 1 first and 0 second

hi 55. You are John years old

#### String Indexes

    name='India'
          01234

    indexing works as below way of slicing
    [start:stop:stepover]

In [97]:
name='India'
string_number='012345678'  # to understand the index concept

print(name[0])
print(string_number[5])

I
5

In [99]:
name='India'
string_number='012345678'

print(name[0:2])  # it will print position of 0,1 
print(string_number[1:5])  # it will print position of 1,2,3,4

In
1234

In [100]:
name='India'
string_number='012345678'

print(name[0:2])  # it will print position of 0,1 . starts at 0 and stops before 2
print(string_number[1:5])  # it will print position of 1,2,3,4 . starts at 1 and stops before 5

In
1234

In [102]:
name='India'
string_number='012345678'

print(name[0:5:1])  # it will print position of 0,1,2,3,4,5 . starts at 0 and stops before 5 and steps to next 1 position
print(string_number[1:7:2])  # it will print position of 1..3..5 . starts at 1 and stops before 7 and steps to next 2nd position

India
135

In [104]:
name='India'
string_number='012345678'

print(name[0:])  # it will print position from 0 to end

print(string_number[1:])  # it will print position from 1 to end

print(name[:5])  # it will print position till 5

print(string_number[:6])  # it will print position till 6

India
12345678
India
012345

In [108]:
name='India'
string_number='012345678'

print(name[:-1])  # it will print position but not the last one. -1 represents the last index

print(string_number[:-3])  # it will print position except last 3

print(name[::-1])  # it will print position in reverse order

print(string_number[::-2])  # it will print all the position by stepping over from last index

Indi
012345
aidnI
86420

#### Immutability
    - string in python are immuatable, that means you can reassign a new value to a varibale but you can not change the string

In [114]:
name='india'
print(name) 

name='Ind' # you can re-assign a value
print(name)

name[0]='I'   # you can not not change the value

india
Ind

TypeError: 'str' object does not support item assignment

# Built-in Functions & Methods
    - while len(quote) is a built in function
    - quote.upper() is a built in method
    - https://www.w3schools.com/python/python_ref_string.asp

In [3]:
#built-in functions in str
print(len('helooooo'))

8

In [4]:
greet='helloooo'
print(greet[0:len(greet)])

helloooo

In [5]:
# build in methods in string
quote='to be or not to be'
a=quote.upper()
print(a)

TO BE OR NOT TO BE

In [6]:
quote='to be or not to be'
a=quote.capitalize()
print(a)

To be or not to be

In [10]:
quote='to be or not to be'
a=quote.find('be')
print(a)

3

# booleans
    - a boolean can be true or false
    - They are logical values
    - in boolean 1 means True
    - in boolean 0 means False

In [11]:
name='John'
is_cool=False

is_cool=True

In [12]:
print(bool(1))

True

In [13]:
print(bool(0))

False

## Excercises : calculate age of a person

In [28]:
# input() method used to get input 
# input converts the data in string by default. So you have to convert the data as per your requirement
import datetime
birth_year = input('what year you born')
current_year=datetime.date.today().year
age=current_year-int(birth_year)
print(f'you are born in {birth_year} and your age is {age}')

what year you born2000
you are born in 2000 and your age is 23

# Commenting rules in python
       - comments shuld be self explanatory
       - it should be understandable by other developers